# WESTMINSTER DOG SHOW DATA

## Part 1: scraping best in show data

In [2]:
import requests
import lxml.html
import pprint as pp
import pandas as pd

In [3]:
BIS_url = "https://www.westminsterkennelclub.org/best-in-show-winners"
BIS_pg = requests.get(BIS_url).text
BIS_dom = lxml.html.fromstring(BIS_pg)

In [35]:
BIS_header = BIS_dom.cssselect("tbody tr td strong")
[ print(subheading.text) for subheading in BIS_header ]

header = list(map(lambda x: x.text.lower(), BIS_header))

YEAR
JUDGE(S)
BREED
DOG
OWNER(S)

In [25]:
BIS_table = BIS_dom.cssselect("table")[0]
rows = BIS_table.cssselect('tr')

# manually removing faulty rows
del rows[0]
del rows[5]
del rows[16]

champions = []

for row_el in rows:
    champion = []
    children = row_el.getchildren()
    
    champion = list(map(lambda x: x.text, children))

    champions.append(champion)

In [46]:
raw_df = pd.DataFrame(champions, columns=header)
# working copy
df = raw_df.copy()
df.head()

,year,judge(s),breed,dog,owner(s)
0,1907,*Not Recorded,Smooth Fox Terrier,Ch. Warren Remedy,Winthrop Rutherfurd
1,1908,*Not Recorded,Smooth Fox Terrier,Ch. Warren Remedy,Winthrop Rutherfurd
2,1909,*Not Recorded,Smooth Fox Terrier,Ch. Warren Remedy,Winthrop Rutherfurd
3,1910,*Not Recorded,Smooth Fox Terrier,Ch. Sabine Rarebit,Sabine Kennels
4,1911,*Not Recorded,Scottish Terrier,Ch. Tickle Em Jock,"A. Albright, Jr."

In [47]:
# getting rid of judges
df.drop('judge(s)', axis=1, inplace=True)
df

,year,breed,dog,owner(s)
0,1907,Smooth Fox Terrier,Ch. Warren Remedy,Winthrop Rutherfurd
1,1908,Smooth Fox Terrier,Ch. Warren Remedy,Winthrop Rutherfurd
2,1909,Smooth Fox Terrier,Ch. Warren Remedy,Winthrop Rutherfurd
3,1910,Smooth Fox Terrier,Ch. Sabine Rarebit,Sabine Kennels
4,1911,Scottish Terrier,Ch. Tickle Em Jock,"A. Albright, Jr."
...,...,...,...,...
111,2019,Wire Fox Terrier,GCHB CH King Arthur Van Foliny Home,Victor Malzoni Jr
112,2020,Standard Poodle,GCHP CH Stone Run Afternoon Tea,Connie S Unger & William Lee
113,2021,Pekingese,GCHG CH Pequest Wasabi,Sandra Middlebrooks & Peggy Steinman & Iris Lo...
114,2022,Bloodhound,GCHB Flessner's Toot My Own Horn,Chris & Bryan Flessner & Heather Helmer & Tina...
115,2023,Petit Basset Griffon Vendeen,CH Soletrader Buddy Holly,Janice Hayes & Lizzie Cadmore & Cathy Oneill &...

In [24]:
# getting counts of winners
BIS_breed = wkc_df['breed'].unique()
print(winners_breed)

breed
Wire Fox Terrier                15
Scottish Terrier                 8
English Springer Spaniel         6
Pekingese                        5
Smooth Fox Terrier               4
Sealyham Terrier                 4
Boxer                            4
Poodle (Standard)                4
Doberman Pinscher                4
Airedale Terrier                 4
Pointer                          3
German Shorthaired Pointer       3
Poodle (Miniature)               3
Beagle (15 Inch)                 2
Bulldog                          2
Old English Sheepdog             2
Afghan Hound                     2
Poodle (Toy)                     2
Newfoundland                     2
Norwich Terrier                  2
West Highland White Terrier      2
Cocker Spaniel (Black)           2
Bichon Frise                     2
Lakeland Terrier                 2
Kerry Blue Terrier               1
Papillon                         1
Standard Schnauzer               1
Scottish Deerhound               1
Bull Terrier (Colored)           1
Sussex Spaniel                   1
Affenpinscher                    1
GermanÂ Shepherd Dog              1
Standard Poodle                  1
Bloodhound                       1
Clumber Spaniel                  1
Whippet                          1
Pomeranian                       1
German Shepherd Dog              1
Pug                              1
Siberian Husky                   1
Irish Water Spaniel              1
Yorkshire Terrier                1
Skye Terrier                     1
Cocker Spaniel (A.S.C.O.B.)      1
Bedlington Terrier               1
Welsh Terrier                    1
English Setter                   1
Collie (Rough)                   1
Cocker Spaniel (Parti-Color)     1
Bull Terrier (White)             1
Petit Basset Griffon Vendeen     1
Name: count, dtype: int64